node_modules
.DS_Store
.vscode
.idea
.eslintrc.yml
.eslintrc.yaml
.gitignore
.dockerignore
.huskyrc
.git
Dockerfile
LICENSE
README.md
.env
index.js
test
SFTP-Files
uploads
schemas
model
**/stage.utils.js
**/route.js
**/validation.utils.js
**/flow.json
**/file.utils.js
**/node.utils.js
**/masking.utils.js
**/app-data.json
**/model.utils.js
**/schemas
**/uploads
**/SFTP-Files
**/.DS_Store
**/.vscode
**/downloads/*
**/*.test.js